*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Notifications {
    margin: 15px;
    border: #e0003c solid 2px;
    border-style: dashed;
  }

  .Notifications img {
    width: 20px;
  }

  .Notifications button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer; 
  }

  .Notifications p {
    display: flex;
    padding-top: 20px;
    margin-left: 10px;

  }

  .Notifications ul {
    padding: 20px 10px 20px 40px;
  }


  li[data-priority="default"] {
    color: rgb(4, 4, 148);
  }
  
  li[data-priority="urgent"] {
    color: red;
  }