*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.footer{
  margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: #e0003c solid 4px;
  }
 