.App {
    height: 80vmin;
    text-align: center;
  }
  
  .App-logo {
    height: 30vmin;
    pointer-events: none;
    text-align: left;
  }
  
  .App-header {
    background-color: #282c34;
    display: flex;
    position: relative;
    padding-top: 5vmin;
    height: 30vmin;
    text-align: left;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: white;
  }
  
  .App-header h1 {
    display: block;
    position: relative;
    height: 15vmin;
    top: 7.5vmin;
    color: #E7473A;
    background-color: #FFFFFF;
    font-size: 5vmin;
    font-family: serif;
  }
  
  .App-body {
    height: 50vmin;
    text-align: left;
    padding-left: 5vmin;
    padding-top: 5vmin;
    font-size: 2.5vmin;
    font-family: serif;
  }
  

  
  .App-body input {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .App-body button {
    background-color: white;
    width: 40px;
    height: 25px;
    font-size: 12px;
    border-radius: 20%;
    border-style: solid;
    border-width: thin;
  }
  
  .App-footer {
    font-size: calc(10px + 2vmin);
    font-family: serif;
    font-style: italic;
  }
  
  hr {
    height: 0.5vmin;
    border: none;
    display: block;
    background-color: #E7473A;
    margin: 0;
    padding: 0;
  }